*.log
view/Ordenes/uploads/*.json
view/Ordenes/responsesEfeuno/*.json
view/Ordenes/_uploadsOld/*.*
view/Ordenes/envios/*.json
*.tmp
*.zip
node_modules/
.DS_Store   
.env
.vscode/
.idea/
dist/
coverage/
*.sqlite
*.sqlite3
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.bak
*.swp   
thumbs.db
*.class
*.jar   
